body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:  #434455;
}
div.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

li {
list-style-type: none;
}

.site-header {
    margin: 0 auto;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}
.site-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.03375em;
    line-height: 1.17;
    color: #4D5AE5;
    margin-right: 76px;
}
.logo-span {
    color: #2e2f42;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-list-item {
    padding: 24px 0;
}
.nav-link.current {
    color: #404bbf;
}
.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding: 24px 0;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link.current:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}
.site-adress {
    font-style: normal;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-link{
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    font-style: normal;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
    color: #404bbf;
}
.address-link:focus {
    color: #404bbf;
}
.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.promo-banner {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.promo-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height:  1.07;
    color: #FFF;
    text-align: center;
    max-width: 496px;
    padding-bottom: 48px;
}
.promo-button {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.promo-button:hover {
    background-color: #404BBF;
}
.promo-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.features-list-item {
    flex-basis: calc((100% - 72px) / 4);
}
.features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    padding: 24px 0;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
}
.features-icon {
display: block;
margin: 0 auto;
}

.features-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.features-list-p {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.team-content {
    background-color: #F4F4FD;
}
.team-content-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11; /* 111.111% */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-list-item {
    width: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list-about {
    padding: 32px 0;
}
.team-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
    display: block;
    margin: 12px;
    fill: #f4f4fd;
}
.team-icon-link:hover, .team-icon-link:focus, .team-icon-link:active {
    background-color: #404bbf;
}

.team-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2; /* 120% */
    text-align: center;
    margin-bottom: 8px;
}
.team-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11; /* 111.111% */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 24px;
    row-gap: 48px;
}
.overlay-container {
    position: relative;
    overflow: hidden;
}
.overlay {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}
.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list-about {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background: var(--WHITE, #FFF);
}
.portfolio-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.portfolio-list-p {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.site-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-logo {
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-span {
    color: #f4f4fd;
}
.footer-wrapper {
display: flex;
align-items: baseline;
}
.footer-info {
    margin-right: 120px;
}
.footer-social {
    margin-right: 80px;
}
.social-p {
    margin-bottom: 16px;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    font-weight: 500;
}
.social-icon-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus, .social-link:active {
    background-color: #31d0aa;
}
.social-icon {
    margin: 8px;
    fill: #f4f4fd;
}

.sub-p {
    margin-bottom: 16px;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    font-weight: 500;
}
.sub-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.sub-email {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    background-color: inherit;
    padding: 8px 0 8px 16px;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    filter: drop-shadow( 4px 4px 0px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.sub-button {
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    font-weight: 500;
    min-width: 165px;
    height: 40px;
}

.sub-button:hover {
    background-color: #404BBF;
}
.sub-button:focus {
    background-color: #404BBF;
}

.sub-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}
.backdrop {
    position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	left: 0;
	top: 0;
	visibility: hidden;
	overflow: auto;
}
.backdrop.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrapper {
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 408px;
	min-height: 584px;
	border-radius: 4px;
	background: #FCFCFC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 72px 24px 24px 24px;
}

.modal-close {
    position: absolute;
	right: 24px;
	top: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,.modal-close:focus {
    border: none;
    background-color: #404BBF;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: #2E2F42;
}
.modal-close:hover .close-icon, .modal-close:focus .close-icon{
    fill: #FFF;
}
.modal-title {
    text-align: center;
	color: #2E2F42;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
}
.modal-form {
position: relative;
margin-top: 16px;
}
.input-wrapper {
    position: relative;
}
.modal-form-item {
    margin-bottom: 8px;
}
.input-title {
    display: block;
	margin-bottom: 4px;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 117%;
	letter-spacing: 0.48px;
	margin-bottom: 4px;
    color: #8E8F99;
}
.modal-input {
    width: 100%;
	height: 40px;
	outline: transparent;
    background-color: transparent;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	padding-left: 38px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-icon {
    position: absolute;
	fill: #2E2F42;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}
.modal-form-item-text {
    margin-bottom: 16px;
}
.modal-textarea {
    width: 100%;
	height: 120px;
	border-radius: 4px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	font-size: 12px;
	line-height: 117%;
	letter-spacing: 0.48px;
	color: rgba(46, 47, 66, 0.4);
	padding: 8px 16px;
	resize: none;
    outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-checkbox:checked + .modal-check-item > .modal-check-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-form-item-check {
    margin-bottom: 24px;
}
.modal-check-item {
    font-size: 12px;
	line-height: 117%;
	letter-spacing: 0.04em;
    color: #8E8F99;
}
.modal-check-span {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration-line: underline;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    fill: transparent;
}

.modal-form-button {
    margin-top: 24px;
    display: block;
	min-width: 169px;
	height: 56px;
	border: none;
    background-color: #4D5AE5;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    color: #FFF;
    border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
}
.modal-form-button:hover, .modal-form-button:focus {
    background-color: #404BBF;
}
.check-link {
    color: #4D5AE5;
}
.section {
    padding-bottom: 120px;
    padding-top: 120px;
}
